// Colors
$black: #000;
$white: #fff;

// Blueberry Theme
$color-alpha: #1a2f39; // Dark Blue
$color-bravo: #6f9fcd; // Light Blue
$color-charlie: #9aba36; // Light Green
$color-echo: #4d5719; // Dark Green

$color-light-gray: #dcdcdc;
$color-dark-gray: #5c5c5c;